<template>
  <div> Liste des nonogrammes
      <ul>
        <li v-for="(element, index) in list"
        :key="element + index"
        @click='selectedPicross = element, victoire=false, startTimer(), query()'
        >
        {{element.title}}
        </li>
      </ul>
      <PicrossPlayer
        v-if='selectedPicross'
        :picrossData="selectedPicross"
        @victory='displayVictory();stopTimer()'
      />
      <div> Timer : {{currentTime}} </div>
      <h1 v-show="victoire">
        Victoire !!!
      </h1>
  </div>

</template>

<script>
import PicrossPlayer from '@/components/PicrossPlayer.vue'
import VueRouter from 'vue-router'
const { isNavigationFailure, NavigationFailureType } = VueRouter

export default {
  name: 'Player',
  data: function () {
    return {
      list: {},
      selectedPicross: null,
      victoire: null,
      currentTime: 0,
      timer: null
    }
  },
  components: {
    PicrossPlayer
  },
  methods: {
    query () {
      this.$router.push({
        path: '/player',
        query: { picross: this.selectedPicross.title }
      }).catch(failure => {
        if (!isNavigationFailure(failure, NavigationFailureType.redirected)) {
          return failure
        }
      })
    },
    getList () {
      return fetch('/picross.json')
        .then(response => response.json())
        .then(data => {
          console.log('getList')
          this.stopTimer()
          this.list = data
          const picross = this.$route.query.picross
          const picrossFound = this.list.find(element => element.title === picross)
          if (picrossFound) this.selectedPicross = picrossFound
          console.log('getListEnd')
        })
    },
    resetTime () {
      this.currentTime = 0
    },
    startTimer () {
      this.resetTime()
      this.timer = setInterval(() => {
        this.currentTime++
        console.log(this.currentTime, this)
      }, 1000)
    },
    stopTimer () {
      clearInterval(this.timer)
    },
    displayVictory () {
      this.victoire = true
    }
  },

  destroyed () {
    this.stopTimer()
  },
  beforeRouteLeave (to, from, next) {
    this.stopTimer()
    next()
  },
  mounted () {
    console.log('mounted')
    this.getList()
  }
}
</script>
